<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>questions</display-name>
    <servlet-name>questions</servlet-name>
    <servlet-class>questions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>questions</servlet-name>
    <url-pattern>/questions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>abcdefg</display-name>
    <servlet-name>abcdefg</servlet-name>
    <servlet-class>alph.abcdefg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abcdefg</servlet-name>
    <url-pattern>/abcdefg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Model</display-name>
    <servlet-name>Model</servlet-name>
    <servlet-class>model.Model</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Model</servlet-name>
    <url-pattern>/Model</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dao</display-name>
    <servlet-name>Dao</servlet-name>
    <servlet-class>dao.Dao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dao</servlet-name>
    <url-pattern>/Dao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Helper</display-name>
    <servlet-name>Helper</servlet-name>
    <servlet-class>helper.Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helper</servlet-name>
    <url-pattern>/Helper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>controller.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptchaServlet</display-name>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>controller.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fac_regServlet</display-name>
    <servlet-name>Fac_regServlet</servlet-name>
    <servlet-class>controller.Fac_regServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fac_regServlet</servlet-name>
    <url-pattern>/Fac_regServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addfacServlet</display-name>
    <servlet-name>addfacServlet</servlet-name>
    <servlet-class>controller.addfacServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addfacServlet</servlet-name>
    <url-pattern>/addfacServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordMail</display-name>
    <servlet-name>PasswordMail</servlet-name>
    <servlet-class>mail.PasswordMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordMail</servlet-name>
    <url-pattern>/PasswordMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordGenerator</display-name>
    <servlet-name>PasswordGenerator</servlet-name>
    <servlet-class>helper.PasswordGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordGenerator</servlet-name>
    <url-pattern>/PasswordGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>facmsgServlet</display-name>
    <servlet-name>facmsgServlet</servlet-name>
    <servlet-class>controller.facmsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>facmsgServlet</servlet-name>
    <url-pattern>/facmsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>idgenerate</display-name>
    <servlet-name>idgenerate</servlet-name>
    <servlet-class>helper.idgenerate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>idgenerate</servlet-name>
    <url-pattern>/idgenerate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>questionServlet</display-name>
    <servlet-name>questionServlet</servlet-name>
    <servlet-class>controller.questionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>questionServlet</servlet-name>
    <url-pattern>/questionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>controller.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectsubServlet</display-name>
    <servlet-name>SelectsubServlet</servlet-name>
    <servlet-class>controller.SelectsubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectsubServlet</servlet-name>
    <url-pattern>/SelectsubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HODServlet</display-name>
    <servlet-name>HODServlet</servlet-name>
    <servlet-class>controller.HODServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HODServlet</servlet-name>
    <url-pattern>/HODServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacupdateServlet</display-name>
    <servlet-name>FacupdateServlet</servlet-name>
    <servlet-class>controller.FacupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacupdateServlet</servlet-name>
    <url-pattern>/FacupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotServlet</display-name>
    <servlet-name>ForgotServlet</servlet-name>
    <servlet-class>controller.ForgotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotServlet</servlet-name>
    <url-pattern>/ForgotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassServ</display-name>
    <servlet-name>UpdatePassServ</servlet-name>
    <servlet-class>controller.UpdatePassServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassServ</servlet-name>
    <url-pattern>/UpdatePassServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignFacultySubjectServlet</display-name>
    <servlet-name>AssignFacultySubjectServlet</servlet-name>
    <servlet-class>controller.AssignFacultySubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignFacultySubjectServlet</servlet-name>
    <url-pattern>/AssignFacultySubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>controller.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectServlet</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>controller.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubjectServlt</display-name>
    <servlet-name>DeleteSubjectServlt</servlet-name>
    <servlet-class>controller.DeleteSubjectServlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectServlt</servlet-name>
    <url-pattern>/DeleteSubjectServlt</url-pattern>
  </servlet-mapping>
</web-app>